<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="barCodes" value="Barcodes"/>
    <add key="isaAddress" value="[dbo].[ISA_Address]"/>
    <add key="isaCompany" value="[dbo].[ISA_Company]"/>
    <add key="isaContact" value="[dbo].[ISA_Contact]"/>
    <add key="isaShowReg" value="[dbo].[ISA_Show_Reg]"/>
  </appSettings>
</configuration>